<% content_for :title, "Respond to Poll" %>

<h1>Respond to Poll</h1>

<p>You are responding to the poll: <strong><%= @poll.title %></strong></p>

<p style="color: green"><%= notice %></p>

<%= render 'form' %>